.main-cube-wrapper {
    height: 100px;
    position: relative;
    margin-top: 2rem;
}

.wrap {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.cube {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 80px;
    height: 80px;
    margin: auto;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.cube div {
    position: absolute;
    opacity: 0.7;
    width: 80px;
    height: 80px;
}

.face-1 {
    background: red;
    -webkit-transform: rotateY(0deg) translateZ(40px);
    transform: rotateY(0deg) translateZ(40px);
}

.face-2 {
    background: green;
    -webkit-transform: rotateY(90deg) translateZ(40px);
    transform: rotateY(90deg) translateZ(40px);
}

.face-3 {
    background: blue;
    -webkit-transform: rotateY(180deg) translateZ(40px);
    transform: rotateY(180deg) translateZ(40px);
}

.face-4 {
    background: yellow;
    -webkit-transform: rotateY(-90deg) translateZ(40px);
    transform: rotateY(-90deg) translateZ(40px);
}

.face-5 {
    background: purple;
    -webkit-transform: rotateX(90deg) translateZ(40px);
    transform: rotateX(90deg) translateZ(40px);
}

.face-6 {
    background: orange;
    -webkit-transform: rotateX(-90deg) translateZ(40px);
    transform: rotateX(-90deg) translateZ(40px);
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}